//colors
:root{
    --text_Main: hsl(228, 56%, 2%);
    --text_Alt:hsl(240, 51%, 9%);

    --back_Main:hsl(20, 60%, 99%);
    --back_Alt:hsl(20, 75%, 55%);

    --orgss:hsl(20, 65%, 48%);
    --purps:hsl(281, 63%, 45%);
}

/*
--gradient:linear-gradient(hsl(240, 60%, 1%), hsl(207, 95%, 7%), hsl(208, 94%, 13%));
$gradientFlip:linear-gradient(0deg, hsl(34, 100%, 1%), hsl(38, 100%, 6%), hsl(137, 97%, 11%));

//color palette// theme colors
$primary: $highlight !default;
$secondary: $backTre !default;
$info:$grabber !default;

*/