//grid
.grid{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
    margin: 0 5%;
    margin-top: 10vh;

    .card {
        padding: 15px;
        margin: 0 7%;
        border-radius: var(--rad);
		box-shadow: var(--box_Shadow);

        .card-title {
				font-size: var(--f_lg);
				padding: var(--pad);
			}

        .body {
            font-size: var(--font);
            }
            @media (min-width: 780px) {
                .card {
                    padding: 20px;
                    margin: 0 12%;
                }
        }
        svg {
            width: 20%;
            margin: 0 40%;
        }
    }


    @media (min-width: 780px) {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: var(--pad_xxl);

                svg {
            width: 60%;
            margin: 0 20%;
        }
    }
}


//blurred background

.glass_Back{
    background: var(--back_Hallow);
    color: var(--back_Main);
    box-shadow: var(--box-Shadow);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: var(--rad);
    border: var(--thick) solid var(--back_Alt);
    height: fit-content;
    width: fit-content;
    padding: var(--pad);
}

//Banner
	banner {
		img {
			width: 100%;
		}
        	@media only screen and (min-width: 740px) {
		banner {
			font-size: var(--f_xl);
			margin: var(--full_marg);
		}
	}
	}


//Cards
.indi_card {
    display: block;
    height: fit-content;
    margin: var(--marg_xxl);
    padding: var(--pad);
    box-shadow: var(--mainShadow);
    border-radius: var(--rad);
    background: var(--backHallow);

    .card-title {
        font-size: var(--font);
        font-weight: bold;
    }

    .card-body {
        font-size: var(--f-sm);

        a {
            text-decoration: underline;
        }
    }

    @media (min-width: 991px) {
        .card-body {
            font-size: var(--font);
            }
        }
}

//text blocks
	.text_Block {
		height: fit-content;
		width: 100vw;

		.text_Box {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: var(--font);
			margin: var(--qtr_marg);
			gap: 3px;
		}

        	@media only screen and (min-width: 980px) {
		.text_Box {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: var(--f_lg);
			margin: var(--full_marg);
			gap: 8px;
		}
	}
	}


//Buttons
.butts {
    width: fit-content;
    margin: var(--marg);
    padding: var(--pad_sm);
    background: rgba(15, 17, 15, 0.616);
    color: var(--text_Main);
    text-transform: uppercase;
    font-weight: 100;
    border: var(--bord);
    border-radius: var(--rad);
    transition: all var(--tSpeed) ease-in-out;

        &:hover {
        transition: all var(--tSpeed) ease-in-out;
        background: var(--grabber);
        color: var(--backMain);
        box-shadow: var(--box_Shadow);
        transform: scale(1.1);
        cursor: pointer;
    }

    @media (min-width: 780px) {
        margin: 0 25%;
    }
}


//page label
    	destination {
		font-size: var(--f_lg);
		margin: var(--marg);
		font-weight: 700;

        	@media only screen and (min-width: 740px) {
		destination {
			font-size: var(--f_xl);
			margin: var(--full_marg);
		}
    }
	
        @media only screen and (min-width: 980px) {
            destination {
                font-size: var(--f_xxl);
                margin: var(--lrg_marg);
            }
        }
    }
