	* {
    padding: 0;
    margin: 0;
    font-family: var(--font_Main);
    scroll-behavior: smooth;

    // &:hover{
    //     box-shadow: var(--box_Light_Wide);
    // }
    }
    
    body {
		color: var(--text_Main);
		background-color: var(--back_Main);
		font-family: var(--font_Main);
        overflow-x: hidden;
	}

    a {
    text-decoration: none;
    color: var(--extra);
    font-weight: 500;
    z-index: 10;

    &:hover {
        transition: all 0.3s ease-in-out;
        color: var(--highlight);
        transform: scale(1.1);
        cursor: pointer;
        text-decoration: underline;
        text-shadow: var(--text_Shadow);
    }

    }

    span{
        color: var(--highlight);
    }



    @media (min-width: 780px) {}

    @media (min-width: 1280px) {

        p{
            margin-top: 10vh;
            font-size: var(--f_lg);
        }
    }